<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......">
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page">
    <meta name="robots" content="index, follow">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/emoji.css" rel="stylesheet">

</head>

<nav class="navbar navbar-default navbar-fixed-top menu">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" th:fragment="header-menu">
        <ul class="nav navbar-nav navbar-right main-menu">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Logout<span><img src="/images/down-arrow.png" alt=""></span></a>
                <ul class="dropdown-menu newsfeed-home">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Newsfeed <span><img src="/images/down-arrow.png" alt=""></span></a>
                <ul class="dropdown-menu newsfeed-home">
                    <li><a href="/users/profile">Newsfeed</a></li>
                    <li><a href="/newsfeed/people-nearby">People Nearly</a></li>
                    <li><a href="/newsfeed/friends">My friends</a></li>
                    <li><a href="/newsfeed/messages">Chatroom</a></li>
                    <li><a href="/newsfeed/images">Images</a></li>
                    <li><a href="/newsfeed/videos">Videos</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Timeline <span><img src="/images/down-arrow.png" alt=""></span></a>
                <ul class="dropdown-menu login">
                    <li><a href="/user/about">Timeline About</a></li>
                    <li><a href="/posts">Timeline</a></li>
                    <li><a href="/timeline/album">Timeline Album</a></li>
                    <li><a href="/timeline/friends">Timeline Friends</a></li>
                    <li><a href="/timeline/edit-basic">Edit: Basic Info</a></li>
                    <li><a href="/timeline/edit-work-edu">Edit: Work & Education</a></li>
                    <li><a href="/timeline/edit-interests">Edit: Interests</a></li>
                    <li><a href="/timeline/settings">Account Settings</a></li>
                    <li><a href="/user/changePassword">Change Password</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">All Pages <span><img src="/images/down-arrow.png" alt=""></span></a>
                <ul class="dropdown-menu page-list">
                    <li><a href="/users/profile">Newsfeed</a></li>
                    <li><a href="/newsfeed/people-nearby">People Nearly</a></li>
                    <li><a href="/newsfeed/friends">My friends</a></li>
                    <li><a href="/newsfeed/messages">Chatroom</a></li>
                    <li><a href="/newsfeed/images">Images</a></li>
                    <li><a href="/newsfeed/videos">Videos</a></li>
                    <li><a href="/posts">Timeline</a></li>
                    <li><a href="/timeline/about">Timeline About</a></li>
                    <li><a href="/timeline/album">Timeline Album</a></li>
                    <li><a href="/timeline/friend">Timeline Friends</a></li>
                    <li><a href="/timeline/edit-basic">Edit Profile</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/faq">FAQ Page</a></li>
                    <li><a href="/error404">404 Not Found</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="/contact">Contact</a></li>
        </ul>
        <form class="navbar-form navbar-right hidden-sm">
            <div class="form-group">
                <i class="icon ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Search friends, photos, videos">
            </div>
        </form>
    </div>
</nav>

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky-kit.min.js"></script>
<script src="/js/jquery.scrollbar.min.js"></script>
<script src="/js/script.js"></script>
